<%= form_with(model: task, data: { turbo: true }) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="modal-header">
    <%= form.text_field :title, placeholder: "Título", class:"form-control w-50 modal-title bg-white" %>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
  </div>
  <div class="modal-body d-flex">
  <!-- Coluna esquerda -->
    <div class="flex-fill me-3">
      <div class="mb-3">
        <%= form.label :description, style: "display: block" %>
        <%= form.rich_text_area :description%>
      </div>
    </div>

    <!-- Coluna direita -->
    <div style="width: 300px;">
      <div class="mb-3 d-flex flex-column">
        <%= form.label :priority, class: "form-label" %>
        <%= form.select :priority, Task.priorities.keys.map { |w| [w.humanize, w] }, class: "form-select" %>
      </div>
      <div class="mb-3 d-flex flex-column">
        <%= form.label :status, class: "form-label" %>
        <%= form.select :status, Task.statuses.keys.map { |w| [w.humanize, w] }, class: "form-select" %>
      </div>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      <%= form.submit "Salvar", class: "text-dark btn bg-warning" %>
    </div>


<% end %>

